[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.61"
faust = "~=1.10"
pydantic = "~=1.7"
uvicorn = "~=0.12"

[dev-packages]

[requires]
python_full_version = "3.8.6"
